@media screen and (min-width: 320px) and (max-width: 480px), (min-device-width: 320px) and
(max-device-width: 480px) and (orientation : landscape) {
  .menu-large-screen {
    display: none;
  }
  .menu-small-screen {
    display: inline;
  }
}

footer {
  margin-top: 20px;
}

@media (max-width: 992px) and (min-width: 767px) {
  .page.featurette-heading {
    margin-top: 120px;
  }
}

@media (max-width: 767px) {
  .page.featurette-heading {
    margin-top: 80px;
  }
}

body {
  position: relative;
}

#nav-wrapper.affix {
top: 0;
width: 100%
}