<div id="content-body">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="list-group">
          <a ng-repeat="album in albums.data" ng-if="album.count > 0" class="list-group-item {{ ($stateParams.albumId === album.id) ? 'active' : '' }}" ui-sref="albums.detail({albumId: '{{ album.id }}'})">
            {{ album.name}}
            ({{ album.count }} {{ album.count > 1 ? 'photos' : 'photo' }})  <small>last updated: {{ album.updated_time }}
          </a>
        </div>

        <!-- named view for album display -->
        <div ui-view="albumPhotos" class="slide" id="imageCarousel"></div>

      </div>
    </div>
  </div>
</div>