
<div class="photoPage">
  <div class="row featurette">
    <div class="col-xs-12">
      <h2 class="page featurette-heading">Photo Albums <span class="text-muted">proud to be part of the community</span></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="lead">Check out some of the pictures we've snapped - people, travel, rides and gear, it's an ecletic mix. You never know, you might see a friend in one of the albums!</p>
    </div>
    <div class="col-md-6">
      <div class="list-group">
        <!-- <a ng-repeat="album in albums.data" ng-if="album.count > 0 && album.name != 'Profile Pictures' && album.name != 'Cover Photos'" class="list-group-item {{ ($stateParams.albumId === album.id) ? 'active' : '' }}" ui-sref="albums.detail({albumId: '{{ album.id }}'})"> -->
        <a ng-repeat="album in albums.data" ng-if="album.count > 0 && album.name != 'Profile Pictures' && album.name != 'Cover Photos'" class="list-group-item {{ ($stateParams.albumId === album.id) ? 'active' : '' }}" href="{{ album.link }}">
          {{ album.name}} - <small>updated: {{ album.updated_time | date: short }}</small>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- named view for album display -->
      <!-- <div ui-view="albumPhotos" class="slide" id="imageCarousel"></div> -->
    </div>
  </div>
</div>
<script language="JavaScript">
function sizeAlbums(height) {
  document.getElementsByClassName('photoPage')[0].style.height   = height + 'px';
  getElementById('div_register').setAttribute('style', 'height:' + height + 'px');
}
function getHeight() {
  var header = document.getElementsByClassName('navbar')[0];
  var footer = document.getElementsByTagName('footer')[0];
  return window.innerHeight - header.clientHeight - footer.clientHeight -87;
}
window.onresize = function(event) {
    sizeAlbums(getHeight());
};
setTimeout(function () { sizeAlbums(getHeight()); }, 500);
</script>