<div class="container marketing">
  <div class="row featurette">
    <div class="col-xs-12">
      <h2 class="page featurette-heading">Our Bikes <span class="text-muted">your next riding machine...</span></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p class="lead">
        We love bikes, especially Italian bikes! The heritage and experience represented by these brands brings all ranges of bikes to the next level. Learn more about our unique selection below, or just stop by the shop!
      </p>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <ul>
          <li><a href="http://www.bianchiusa.com/">Bianchi</a></li>
          <li><a href="http://www.wilier-usa.com/en/">Wilier</a></li>
          <li><a href="http://colnago.com/?lang=en">Colnago</a></li>
          <li><a href="http://www.pinarello.com/en">Pinarello</a></li>
          <li><a href="http://moots.com/">MOOTS</a></li>
          <li><a href="http://www.orbea.com/us-en/">Orbea</a></li>
          <li><a href="http://surlybikes.com/">Surly</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>