<div class="row page">
  <div class="col-md-6">
    <h4>Grand Performance</h4>
    1938 Grand Ave · Saint Paul · MN · 55105 <br/>
    <a href="mailto:info@gpbicycles.com">info@gpbicycles.com</a> · (651) 699-2640
  </div>
  <div class="col-md-6">
    <div id="map_canvas" style="width:100%; height:200px"></div>
  </div>
</div>
<script language="JavaScript">
function sizeAlbums(height) {
  document.getElementsByClassName('page')[0].style.height   = height + 'px';
}
function getHeight() {
  var header = document.getElementsByClassName('navbar')[0];
  var footer = document.getElementsByTagName('footer')[0];
  return window.innerHeight - header.clientHeight - footer.clientHeight -87;
}
window.onresize = function(event) {
    sizeAlbums(getHeight());
};
setTimeout(function () { sizeAlbums(getHeight()); }, 500);
</script>