<div class="jumbotron">
  <h1>{{ page.name }}</h1>
  <p class="lead">
    {{ page.description }}
  </p>
  <div class="fb-like" data-href="{{ page.link }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
  <p>
    <fb-hours-short></fb-hours-short>
  </p>
</div>

<div class="fb-post" ng-repeat="post in orderedPosts.high" ng-if="post.message && !post.story">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row marketing">
          <fb-post-header post="post"></fb-post-header>
          <div class="row">
            <div ng-if="hasImage(post)" class="col-xs-12 {{ hasComments(post) ? 'col-sm-3' : '' }}">
              <fb-post-image post="post"></fb-post-image>
            </div>
            <div class="{{ hasComments(post) ? 'col-xs-12' + (hasImage(post) ? ' col-sm-9' : ' col-sm-12') : 'hidden-xs hidden-sm hidden-md hidden-lg' }}">
              <fb-post-comments post="post"></fb-post-comments>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fb-post" ng-repeat="post in orderedPosts.low">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row marketing">
        <fb-post-header post="post"></fb-post-header>
        <div class="row">
          <div ng-if="hasImage(post)" class="col-xs-12 {{ hasComments(post) ? 'col-sm-3' : '' }}">
            <fb-post-image post="post"></fb-post-image>
          </div>
          <div class="{{ hasComments(post) ? 'col-xs-12' + (hasImage(post) ? ' col-sm-9' : ' col-sm-12') : 'hidden-xs hidden-sm hidden-md hidden-lg' }}">
            <fb-post-comments post="post"></fb-post-comments>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
